<footer id="contact">
  <div class="wrap">
    <div class="footer-top">
      <div class="footer-brand reveal">
        <div class="brand">
          <img class="brand-mark" src="/MSA_LOGO.jpeg" alt="MSA GNIT logo">
          <div class="brand-text">
            <div class="l1">Microsoft Student Ambassadors,</div>
            <div class="l1">GNIT Chapter</div>
          </div>
        </div>
        <p>We encourage young minds at GNIT to pursue knowledge and excellence in unique, hands-on ways.</p>
        <div class="social-row">
          <a href="https://github.com/msa-gnit-chapter" target="_blank" rel="noopener" aria-label="GitHub"><svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor"><path d="M12 .5C5.73.5.5 5.73.5 12c0 5.08 3.29 9.38 7.86 10.9.57.1.78-.25.78-.55v-2c-3.2.7-3.87-1.36-3.87-1.36-.53-1.34-1.29-1.7-1.29-1.7-1.06-.72.08-.7.08-.7 1.17.08 1.78 1.2 1.78 1.2 1.04 1.78 2.72 1.27 3.38.97.1-.75.4-1.27.73-1.56-2.55-.29-5.24-1.28-5.24-5.68 0-1.26.45-2.28 1.19-3.08-.12-.29-.52-1.46.11-3.04 0 0 .97-.31 3.2 1.18a11.1 11.1 0 015.83 0c2.22-1.49 3.19-1.18 3.19-1.18.64 1.58.24 2.75.12 3.04.74.8 1.18 1.82 1.18 3.08 0 4.41-2.7 5.38-5.26 5.67.42.36.78 1.08.78 2.18v3.24c0 .31.2.66.79.55A10.51 10.51 0 0023.5 12c0-6.27-5.23-11.5-11.5-11.5z"/></svg></a>
          <a href="https://www.instagram.com/msa.gnit/" target="_blank" rel="noopener" aria-label="Instagram"><svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor"><path d="M12 2c2.72 0 3.06.01 4.12.06 1.06.05 1.79.22 2.42.46.66.26 1.22.6 1.77 1.15.55.55.9 1.11 1.15 1.77.24.63.41 1.36.46 2.42C21.99 8.94 22 9.28 22 12s-.01 3.06-.06 4.12c-.05 1.06-.22 1.79-.46 2.42a4.9 4.9 0 01-1.15 1.77 4.9 4.9 0 01-1.77 1.15c-.63.24-1.36.41-2.42.46C15.06 21.99 14.72 22 12 22s-3.06-.01-4.12-.06c-1.06-.05-1.79-.22-2.42-.46a4.9 4.9 0 01-1.77-1.15 4.9 4.9 0 01-1.15-1.77c-.24-.63-.41-1.36-.46-2.42C2.01 15.06 2 14.72 2 12s.01-3.06.06-4.12c.05-1.06.22-1.79.46-2.42.26-.66.6-1.22 1.15-1.77A4.9 4.9 0 015.44 2.54c.63-.24 1.36-.41 2.42-.46C8.94 2.01 9.28 2 12 2zm0 5a5 5 0 100 10 5 5 0 000-10zm0 8.2a3.2 3.2 0 110-6.4 3.2 3.2 0 010 6.4zm5.4-8.4a1.17 1.17 0 100-2.34 1.17 1.17 0 000 2.34z"/></svg></a>
          <a href="https://www.linkedin.com/company/msa-gnit/" target="_blank" rel="noopener" aria-label="LinkedIn"><svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor"><path d="M20.45 20.45h-3.56v-5.57c0-1.33-.02-3.03-1.85-3.03-1.85 0-2.14 1.45-2.14 2.94v5.66H9.34V9h3.42v1.56h.05c.48-.9 1.64-1.85 3.37-1.85 3.6 0 4.27 2.37 4.27 5.45v6.29zM5.34 7.43a2.07 2.07 0 110-4.14 2.07 2.07 0 010 4.14zM7.11 20.45H3.56V9h3.55v11.45z"/></svg></a>
          <a href="https://www.facebook.com/people/Microsoft-Student-Ambassadors-GNIT-Chapter/61578506131066/" target="_blank" rel="noopener" aria-label="Facebook"><svg xmlns="http://w3.org" viewBox="0 0 24 24" width="16" height="16" fill="currentColor"><path d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"/></svg></a>
          <a href="https://discord.gg/u58GqTFec" target="_blank" rel="noopener" aria-label="Discord"><svg xmlns="http://w3.org" viewBox="0 0 127.14 96.36" width="16" height="16" fill="currentColor"><path d="M107.7,8.07A105.15,105.15,0,0,0,77.26,0a77.19,77.19,0,0,0-3.3,6.83A96.67,96.67,0,0,0,53.22,6.83,77.19,77.19,0,0,0,49.88,0,105.15,105.15,0,0,0,19.44,8.07C3.66,31.58-1.86,54.65,1,77.53A105.73,105.73,0,0,0,32,96.36a74.37,74.37,0,0,0,6.72-10.93,68.6,68.6,0,0,1-10.64-5.12c.91-.67,1.81-1.37,2.65-2.1a75.22,75.22,0,0,0,72.76,0c.84.73,1.74,1.43,2.65,2.1a68.86,68.86,0,0,1-10.64,5.12,74.74,74.74,0,0,0,6.72,10.93,105.73,105.73,0,0,0,31-18.83C130.1,49.22,123.38,26.47,107.7,8.07ZM42.45,65.69C36.18,65.69,31,60,31,53s5.16-12.65,11.43-12.65S53.93,46,53.86,53,48.72,65.69,42.45,65.69Zm42.24,0C78.41,65.69,73.24,60,73.24,53s5.16-12.65,11.45-12.65S96.16,46,96.09,53,91,65.69,84.69,65.69Z"/></svg></a>
          <a href="https://linktr.ee/msagnit" target="_blank" rel="noopener" aria-label="Linktree"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 256 256" fill="currentColor"><path d="M136 160v72a8 8 0 0 1-16 0v-72a8 8 0 0 1 16 0m72-64h-60.69l42.35-42.34a8 8 0 0 0-11.32-11.32L136 84.69V24a8 8 0 0 0-16 0v60.69L77.66 42.34a8 8 0 0 0-11.32 11.32L108.69 96H48a8 8 0 0 0 0 16h60.69l-42.35 42.34a8 8 0 0 0 11.32 11.32L128 115.31l50.34 50.35a8 8 0 0 0 11.32-11.32L147.31 112H208a8 8 0 0 0 0-16"/></svg></a>
        </div>
      </div>
      <div class="footer-col reveal">
        <h4><b>Explore</b></h4>
        <a href="/team">Core Team &amp; Advisors</a>
        <a href="/events">Events</a>
        <a href="/inaugural">Inaugural</a>
        <a href="/blogs">Blogs</a>
        <a href="/#ms-tech">Microsoft Technologies</a>
        <a href="/#collaborate">Collaborate</a>
      </div>
      <div class="footer-col reveal">
        <h4><b>Contact</b></h4>
        <a href="https://linktr.ee/msagnit" target="_blank" rel="noopener" aria-label="Linktree">https://linktr.ee/msagnit</a>
        <a href="mailto:msft.gnit@outlook.com">msft.gnit@outlook.com</a>
      </div>
      <div class="footer-col reveal">
        <h4><b>Visit us at</b></h4>
        <span>Guru Nanak Institute of Technology,</span>
        <span>Kolkata,</span>
        <span>West Bengal, India</span>
      </div>
    </div>
    <div class="footer-bottom">
      <span>© 2026 MSA-GNIT Chapter</span>
      <span class="ms-badge"><span class="ms-squares" aria-hidden="true"><i></i><i></i><i></i><i></i></span>Built on Microsoft technologies</span>
      <span>Designed by the MSA-GNIT Chapter Team</span>
    </div>
  </div>
</footer>
<script src="/js/site.js"></script>
